<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>解析 www.zhuzhuav1.com 网站</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-md-7">
        <div class="text-center">
            <h1>解析 www.zhuzhuav1.com 网站</h1>>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>图片</h3>
                <h4>GET: /picture</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.zhuzhuav1.com/htm/piclist9/1.htm" target="_blank">https://www.zhuzhuav1.com/htm/piclist9/1.htm</a>
                </p>
                <ul>
                    <li>picNum <code>Number</code> 9 ：偷拍自拍 1：亚洲图片 2 ：欧美图片  3 ：卡通动漫  4：乱伦性爱  6：另类图片  7：美腿丝袜  8：清纯唯美 </li>
                    <li>pageNum <code>Number</code>图片的当前页码</li>
                </ul>
                <p>
                    示例: <a href="/picture" target="_blank">/picture</a>
                </p>
                <hr>
                <h3>小说</h3>
                <h4>GET: /novel</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.zhuzhuav1.com/htm/novellist1/1.htm" target="_blank">https://www.zhuzhuav1.com/htm/novellist1/1.htm</a>
                </p>
                <ul>
                    <li>novelNum <code>Number</code> 1 : 情感小说 2 ：校园春色 10：人妻女友  4 ：武侠古典  5： 家庭乱伦  6 ：另类小说  8 ：性爱技巧  9 ：情色笑话 </li>
                    <li>pageNum <code>Number</code>小说当前页码</li>
                </ul>
                <p>
                    示例: <a href="/novel" target="_blank">/novel</a>
                </p>
                <hr>
                <h3>视频</h3>
                <h4>GET: /vedio</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.zhuzhuav1.com/htm/dylist1/1.htm" target="_blank">https://www.zhuzhuav1.com/htm/dylist1/1.htm</a>
                </p>
                <ul>
                    <li>classify <code>String</code>dylist , vodlist </li>
                    <li>vedioNum <code>Number</code> dylist {1 :视频偷拍  3 ：欧美电影}  vodlist: {1: 网友自拍  2 ：亚洲视频  3 ：欧美视频  4 ： 动漫视频  5 ： 其他视频} </li>
                    <li>pageNum <code>Number</code>视频当前页码</li>
                </ul>
                <p>
                    示例: <a href="/vedio" target="_blank">/vedio</a>
                </p>
                <hr>
                <h3>电影</h3>
                <h4>GET: /movie</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.zhuzhuav1.com/htm/mp4list1/1.htm" target="_blank">https://www.zhuzhuav1.com/htm/mp4list1/1.htm</a>
                </p>
                <ul>
                    <li>movieNum <code>Number</code> 1 : 中文无码  2 ：中文有码   3：欧美无码  4 ：韩国无码  5 ：日本无码   6 ：日本有码  7 ：偷拍自拍</li>
                    <li>pageNum <code>Number</code>电影当前页码</li>
                </ul>
                <p>
                    示例: <a href="/movie" target="_blank">/movie</a>
                </p>
                <hr>
                <h3>查询图片</h3>
                <h4>GET: /queryPicture</h4>
                <p>
                    对应www.zhuzhuav1.com页面::
                    <a href="https://www.zhuzhuav1.com/htm/pic9/99332.htm" target="_blank">https://www.zhuzhuav1.com/htm/pic9/99332.htm</a>
                </p>
                <li>picNum <code>Number</code> 9 ：偷拍自拍 1：亚洲图片 2 ：欧美图片  3 ：卡通动漫  4：乱伦性爱  6：另类图片  7：美腿丝袜  8：清纯唯美 </li>
                <li>pageNum <code>Number</code>图片的页码</li>
                <p>
                    示例: <a href="/queryPicture" target="_blank">/queryPicture</a>
                </p>
                <hr>
                <h3>查询小说</h3>
                <h4>GET: /queryNovel</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.zhuzhuav1.com/htm/novel1/87483.htm" target="_blank">https://www.zhuzhuav1.com/htm/novel1/87483.htm</a>
                </p>
                <li>novelNum <code>Number</code> 1 : 情感小说 2 ：校园春色 10：人妻女友  4 ：武侠古典  5： 家庭乱伦  6 ：另类小说  8 ：性爱技巧  9 ：情色笑话 </li>
                <li>pageNum <code>Number</code>小说的页码</li>
                <p>
                    示例: <a href="/queryNovel" target="_blank">/queryNovel</a>
                </p>
                <hr>
                <h3>查询视频</h3>
                <h4>GET: /queryVedio</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.aa286.com/htm/dyplay1/34338.htm" target="_blank">https://www.aa286.com/htm/dyplay1/34338.htm</a>
                </p>
                <li>classify <code>String</code>dyplay , vodplay </li>
                <li>vedioNum <code>Number</code> dyplay {1 :视频偷拍  3 ：欧美电影}  vodplay: {1: 网友自拍  2 ：亚洲视频  3 ：欧美视频  4 ： 动漫视频  5 ： 其他视频} </li>
                <li>pageNum <code>Number</code>视频当前页码</li>
                <p>
                    示例: <a href="/queryVedio" target="_blank">/queryVedio</a>
                </p>
                <hr>
                <h3>查询电影</h3>
                <h4>GET: /queryMovie</h4>
                <p>
                    对应www.zhuzhuav1.com页面:
                    <a href="https://www.aa286.com/htm/mp47/52972.htm" target="_blank">https://www.aa286.com/htm/mp47/52972.htm</a>
                </p>
                <li>movieNum <code>Number</code> 1 : 中文无码  2 ：中文有码   3：欧美无码  4 ：韩国无码  5 ：日本无码   6 ：日本有码  7 ：偷拍自拍</li>
                <li>pageNum <code>Number</code>电影当前页码</li>
                <p>
                    示例: <a href="/queryMovie" target="_blank">/queryMovie</a>
                </p>
            </div>
        </div>
        <blockquote>
            本站解析 www.zhuzhuav1.com 网站接口目的是为会APP开发的程序员使用,请勿用于其他用途,谢谢!
            <br>
        </blockquote>
    </div>
</div>
<div style="display:none;">
    <script src="https://s4.cnzz.com/z_stat.php?id=1260305659&web_id=1260305659" language="JavaScript"></script>
</div>
</body>
</body>
</html>